
* {}

/*This CSS is to the style for Login/Sign Up Box/ Will add other box like User register/ transaction box etc*/

/*Login Box*/
.login-container {
	height: 90vh;
  	width: 100%;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	font-size: 14px;
 	color: #434649;
}

.registration-section{
	height: 100%;
}

.registration-container{
	height: 80vh;
  	width: 100%;
	display: flex;
  	justify-content: center;
 	align-items: center;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

.card{
	box-shadow: 6px 7px 5px -6px rgba(0,0,0,0.75);
}


.navbar-nav > .active > a{
	color: white;
	background-color: #3794E0;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: white;
    background-color: #3794E0;
}

.nav-tabs > .active a{
	color: white;
}
.nav-tabs > .active {
	background-color: #3794E0;
	border-radius: 4px;
	height: 39px;
	width: 222px;
	text-align: left;
	padding: 6px 0px 0px 15px;
}

.nav-tabs > .inactive{
	text-align: left;
	border-radius: 4px;
	height: 39px;
	width: 222px;
	padding: 6px 0px 0px 15px;
}


/* Styling below is for the accounts summary dashboard */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400|Roboto);


*, *:before, *:after {
	box-sizing: border-box;
  }

  .my-wallet {
	border-radius: 6px;
	font-family: "Open Sans", sans-serif;
	min-height: 500px;
	width: 90%;
	background-color: #fff;
	box-shadow: 6px 7px 5px -6px rgba(0,0,0,0.75);
	overflow: hidden;
	/*
	background-color: pink;
	*/
  }
   .my-wallet-investments {
	border-radius: 6px;
	font-family: "Open Sans", sans-serif;
	min-height: 500px;
	width: 90%;
	background-color: #fff;
	box-shadow: 6px 7px 5px -6px rgba(0,0,0,0.75);
	overflow: hidden;
  }
  .my-wallet-sidebar {
	background-color: #f2f2f2;
	color: #707584;
	float: left;
	min-height: 500px;
	border-radius: 6px 0px 0px 6px;
	padding: 50px;
	width: 360px;
	/* 
	background-color: orange;
	box-shadow: 6px 7px 5px -6px rgba(0,0,0,0.75);
	 */
	
  }
    .my-wallet-sidebar-investments {
	background-color: #f2f2f2;
	color: #707584;
	float: left;
	min-height: 500px;
	border-radius: 6px 0px 0px 6px;
	padding: 50px;
	width: 360px;
  }
  .my-wallet-title {
	font-size: 24px;
	font-weight: normal;
	margin: 0 0 50px 0;
  }
    .my-wallet-title-investments {
	font-size: 24px;
	font-weight: normal;
	margin: 0 0 50px 0;
  }
  .my-wallet-title .add-account {
	-webkit-transition: color 200ms;
	-moz-transition: color 200ms;
	transition: color 200ms;
	color: #b2b2b2;
	float: right;
	font-size: 48px;
	line-height: 20px;
	position: relative;
  }
    .my-wallet-title-investments .add-account-investments {
	-webkit-transition: color 200ms;
	-moz-transition: color 200ms;
	transition: color 200ms;
	color: #b2b2b2;
	float: right;
	font-size: 48px;
	line-height: 20px;
	position: relative;
  }
  .my-wallet-title .add-account:hover {
	color: #707584;
	cursor: pointer;
  }
    .my-wallet-title-investments .add-account-investments:hover {
	color: #707584;
	cursor: pointer;
  }
  .loading {
	-webkit-animation: load 500ms ease forwards;
	-moz-animation: load 500ms ease forwards;
	animation: load 500ms ease forwards;
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
	position: absolute;
	background: #fff url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/83141/ripple.svg") center no-repeat;
	z-index: 999;
  }
    .loading-investments {
	-webkit-animation: load 500ms ease forwards;
	-moz-animation: load 500ms ease forwards;
	animation: load 500ms ease forwards;
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
	position: absolute;
	background: #fff url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/83141/ripple.svg") center no-repeat;
	z-index: 999;
  }
  
  .accounts-container {
	position: relative;
	bottom: -40px;
	margin-bottom: 15px;
  }
    .accounts-container-investments {
	position: relative;
	bottom: -40px;
	margin-bottom: 15px;
  }
  
  .active-account {
	border: 4px solid #8393ca;
	border-radius: 4px;
	height: 70px;
	position: relative;
	width: 250px;
	z-index: 1;
  }
    .active-account-investments {
	border: 4px solid #8393ca;
	border-radius: 4px;
	height: 70px;
	position: relative;
	width: 250px;
	z-index: 1;
  }
  
  .account, .my-wallet-sidebar .account, .add-account-modal .account {
	background-color: #fff;
	border: 2px solid #e1e1e1;
	border-radius: 4px;
	font-family: "Roboto", sans-serif;
	height: 70px;
	margin-bottom: 30px;
	padding: 8px;
	width: 250px;
  }
    .account-investments, .my-wallet-sidebar-investments .account-investments, .add-account-modal-investments .account-investments {
	background-color: #fff;
	border: 2px solid #e1e1e1;
	border-radius: 4px;
	font-family: "Roboto", sans-serif;
	height: 70px;
	margin-bottom: 30px;
	padding: 8px;
	width: 250px;
  }
  
  .my-wallet-sidebar .account {
	-webkit-transition: top 500ms ease, -webkit-transform 200ms ease;
	-moz-transition: top 500ms ease, -moz-transform 200ms ease;
	transition: top 500ms ease, transform 200ms ease;
	position: absolute;
	top: 0;
	will-change: transform, top;
  }
    .my-wallet-sidebar-investments .account-investments {
	-webkit-transition: top 500ms ease, -webkit-transform 200ms ease;
	-moz-transition: top 500ms ease, -moz-transform 200ms ease;
	transition: top 500ms ease, transform 200ms ease;
	position: absolute;
	top: 0;
	will-change: transform, top;
  }
  .my-wallet-sidebar .is-selected.account {
	top: -110px !important;
  }
    .my-wallet-sidebar-investments .is-selected.account-investments {
	top: -110px !important;
  }
  .my-wallet-sidebar .account:hover:not(.is-selected) {
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	-o-transform: translateY(-30px);
	transform: translateY(-30px);
	cursor: pointer;
  }
    .my-wallet-sidebar-investments .account-investments:hover:not(.is-selected) {
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	-o-transform: translateY(-30px);
	transform: translateY(-30px);
	cursor: pointer;
  }
  .my-wallet-sidebar .account:hover:not(.is-selected).is-stationary {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
  }
    .my-wallet-sidebar-investments .account-investments:hover:not(.is-selected).is-stationary {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
  }
  .account-details-container {
	font-family: "Open Sans", sans-serif;
	min-height: 500px;
	width: auto;
	overflow: hidden;
	padding: 50px;
	position: relative;
	border-radius: 0px 6px 6px 0px;
  }
    .account-details-container-investments {
	font-family: "Open Sans", sans-serif;
	min-height: 500px;
	width: auto;
	overflow: hidden;
	padding: 50px;
	position: relative;
	border-radius: 0px 6px 6px 0px;
  }
  
  .account-details {
	-webkit-transition: -webkit-transform 500ms ease, opacity 200ms ease;
	-moz-transition: -moz-transform 500ms ease, opacity 200ms ease;
	transition: transform 500ms ease, opacity 200ms ease;
	-webkit-transform: translateX(110%);
	-moz-transform: translateX(110%);
	-ms-transform: translateX(110%);
	-o-transform: translateX(110%);
	transform: translateX(110%);
	opacity: 0;
	position: absolute;
	top: 50px;
	width: 90%;
  }
    .account-details-investments {
	-webkit-transition: -webkit-transform 500ms ease, opacity 200ms ease;
	-moz-transition: -moz-transform 500ms ease, opacity 200ms ease;
	transition: transform 500ms ease, opacity 200ms ease;
	-webkit-transform: translateX(110%);
	-moz-transform: translateX(110%);
	-ms-transform: translateX(110%);
	-o-transform: translateX(110%);
	transform: translateX(110%);
	opacity: 0;
	position: absolute;
	top: 50px;
	width: 90%;
  }
    
  .account-details.is-selected {
	-webkit-transition: -webkit-transform 500ms ease, opacity 200ms 200ms ease;
	-moz-transition: -moz-transform 500ms ease, opacity 200ms 200ms ease;
	transition: transform 500ms ease, opacity 200ms 200ms ease;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
  }
    .account-details-investments.is-selected {
	-webkit-transition: -webkit-transform 500ms ease, opacity 200ms 200ms ease;
	-moz-transition: -moz-transform 500ms ease, opacity 200ms 200ms ease;
	transition: transform 500ms ease, opacity 200ms 200ms ease;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	opacity: 1;
  }
  
  .value-unit {
	color: #444751;
	font-size: 36px;
	font-weight: bold;
	position: relative;
  }
  
  .more-details{
  	font-size: 18px;
  	margin-top: 10px;
	position: relative;
	text-align: right;
  }
  
    .more-details-investments{
  	font-size: 18px;
  	margin-top: 10px;
	position: relative;
	text-align: right;
  }
  
  .value-subunit {
	font-size: 0.6em;
	left: -0.5em;
	position: relative;
	top: 0.1em;
  }
  
  .account-balance {
	letter-spacing: 0.025em;
	border-bottom: 1px solid #b2b2b2;
	color: #707584;
	font-size: 24px;
	padding-bottom: 50px;
  }
    .account-balance-investments {
	letter-spacing: 0.025em;
	border-bottom: 1px solid #b2b2b2;
	color: #707584;
	font-size: 24px;
	padding-bottom: 50px;
  }
  .account-balance .value-unit {
	float: right;
	right: -0.25em;
	top: -0.2em;
  }
    .account-balance-investments .value-unit {
	float: right;
	right: -0.25em;
	top: -0.2em;
  }
  
  .temp-account {
	color: #b2b2b2;
	font-size: 24px;
	font-style: italic;
	padding: 50px 0;
	text-align: center;
  }
  
  @-webkit-keyframes load {
	from {
	  visibility: visible;
	  opacity: 1;
	}
	to {
	  visibility: hidden;
	  opacity: 0;
	}
  }
  @-moz-keyframes load {
	from {
	  visibility: visible;
	  opacity: 1;
	}
	to {
	  visibility: hidden;
	  opacity: 0;
	}
  }
  @keyframes load {
	from {
	  visibility: visible;
	  opacity: 1;
	}
	to {
	  visibility: hidden;
	  opacity: 0;
	}
  }
  @-webkit-keyframes error {
	0% {
	  margin-left: 0;
	}
	33% {
	  margin-left: 30px;
	}
	66% {
	  margin-left: -30px;
	}
	100% {
	  margin-left: 0;
	}
  }
  @-moz-keyframes error {
	0% {
	  margin-left: 0;
	}
	33% {
	  margin-left: 30px;
	}
	66% {
	  margin-left: -30px;
	}
	100% {
	  margin-left: 0;
	}
  }
  @keyframes error {
	0% {
	  margin-left: 0;
	}
	33% {
	  margin-left: 30px;
	}
	66% {
	  margin-left: -30px;
	}
	100% {
	  margin-left: 0;
	}
  }

