
* {}

/*This CSS is to the style for Login/Sign Up Box/ Will add other box like User register/ transaction box etc*/

/*Login Box*/
.login-container {
	height: 90vh;
  	width: 100%;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	font-size: 14px;
 	color: #434649;
}

.registration-section{
	height: 100%;
}

.registration-container{
	height: 80vh;
  	width: 100%;
	display: flex;
  	justify-content: center;
 	align-items: center;
}

