* {}

/*Logo Box
.site-logo {
  margin: 0 auto 50px;
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border: solid black 0.5px;
  border-radius: 10px;
  background: white;
}

.site-logo img {
  width: 150px;
  height: 150px;
}
*/

.container-header {
	height: 80px;
	background-color: #356E90;
}
