/*All pages CSS things like background img, Web page size, */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(rgb(131, 66, 133), rgb(36, 4, 37));
  background-position: top left;
  background-attachment: scroll;
  width: auto;
  height: auto;
}