/*All pages CSS things like background img, Web page size, */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
	/* */
 	background-position: top left;
  	background-attachment: scroll;
  	width: auto;
  	height: 100%;
  	font-family: "Segoe UI", "Segoe WP", "Segoe Regular", sans-serif;
  	font-size: 15px;
  	line-height: 1.7em;
  	background: #d7e3ee;
}

.errors{
	color: red;
}