.accountTableColor{
	background-color: #7AA6C9;
	color: white;
	text-align: center;
}
.accountInfo{
	text-align: center;
}
.accountTableColor2{
	background-color: #7AA6C9;
	color: white;
}
.center{
	text-align: center;
}
.col-centered{
    margin: 0 auto;
    float: none;
}
.font{
	font-family: arial;
}
body{
	background-color: #D7E3EE;
}
.card{
	box-shadow: 5px 5px 5px grey;
}
.errors{
	color: red;
}
.formMargin{
	margin-left: 5%;
}
.stickypositioning{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.background{
	background-color: #D7E3EE;
}
@media screen and (min-width: 768px){
	.noShow{
	display: none;
	}
}
@media screen and(max-width: 767px){
	.noShow{
	display: block;
	}
}

